---
---

@import "{{ site.theme }}";

/* 表格居中 */
div[align="center"] {
  text-align: center;
}

div[align="center"] table {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

/* 表格标题居中 */
div[align="center"] strong {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
